<% content_for :title, "Editing movie" %>

<h1 class="edit-title">Editing movie</h1>

<div class="edit-form">
  <%= render "form", movie: @movie %>
</div>

<br>

<div class="edit-actions">
  <%= link_to "Show this movie", @movie, class: "btn btn-primary" %> |
  <%= link_to "Back to movies", movies_path, class: "btn btn-secondary" %>
</div>