<% content_for :title, "New movie" %>

<div class="form-container">
  <h1>New movie</h1>

  <%= render "form", movie: @movie %>

  <div class="back-link">
    <%= link_to "Back to movies", movies_path %>
  </div>
</div>