.form-container {
    max-width: 600px;
    margin: 20px auto;
    padding: 10px;
  }
  
  .form-container h1 {
    text-align: center;
    color: #333;
  }
  
  .form-container form div {
    margin-bottom: 10px;
  }
  
  .form-container form label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-container form input,
  .form-container form select,
  .form-container form textarea {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 100%;
  }
  
  
  .back-link {
    text-align: center;
    margin-top: 20px;
  }
  
  .back-link a {
    color: #000000;
    text-decoration: none;
  }
  
  .back-link a:hover {
    text-decoration: underline;
  }
  .new-movie {
    background-color: #e5ff00;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    padding: 10px;

  }
  .new-movie a {
    text-decoration: none; /* Remove underline from links */
    color: rgb(0, 0, 0);
  }
  
  .new-movie a:hover {
    text-decoration: none; /* Ensure underline is not added on hover */
  }
  .show-container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  .show-container p {
    margin: 10px 0;
  }
  
  .show-container .actions {
    text-align: center;
    margin-top: 20px;
  }
  
  .show-container .actions a,
  .show-container .actions button {
    margin: 10px;   
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    text-decoration: none;
    color: white;
    background-color: #007BFF;
    cursor: pointer;
  }
  
  .show-container .actions a:hover,
  .show-container .actions button:hover {
    background-color: #0056b3;
  }
  
  .show-container .actions .btn-secondary {
    background-color: #6c757d;
  }
  
  .show-container .actions .btn-secondary:hover {
    background-color: #5a6268;
  }
  
  .show-container .actions .btn-danger {
    background-color: #dc3545;
  }
  
  .show-container .actions .btn-danger:hover {
    background-color: #c82333;
  }
  .edit-title {
    text-align: center;
    color: #333;
  }
  
  .edit-form {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  .edit-actions {
    text-align: center;
    margin-top: 20px;
  }
  
  .edit-actions a {
    margin: 0 5px;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    text-decoration: none;
    color: white;
    background-color: #007BFF;
    cursor: pointer;
  }
  
  .edit-actions a:hover {
    background-color: #0056b3;
  }
  
  .edit-actions .btn-secondary {
    background-color: #6c757d;
  }
  
  .edit-actions .btn-secondary:hover {
    background-color: #5a6268;
  }
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .form-input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
  }